
{% extends 'base.html' %}
{% block content %}
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/Cat9199/fadalyoffice/main/images/logo-removebg-preview.png">
    <style>
       
        section {
            margin-top: 40px;
            display: flex;
            gap: 20px;
            justify-content: center;
        }
        
        .table-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        h2 {
            background-color: #4a90e2;
            color: #fff;
            padding: 10px;
            margin: 0;
            font-size: 18px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        
        table {
            width: 100%;
            max-width: 600px;
            border-collapse: collapse;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 20px;
        }
        
        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }
        
        tr.unread {
            background-color: #c4e9ff;
        }
        
        tr.read {
            background-color: #f2f2f2;
        }
        
        tr:hover {
            background-color: #e0e0e0;
        }
        
        .notification-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 8px;
            background-image: url('notification-icon.png');
            background-size: cover;
            vertical-align: middle;
        }
        
        .button-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4c74af;
            color: #fff;
            text-decoration: none;
            text-align: center;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
        
        .button-link img {
            width: 15px;
            margin-right: 10px;
            vertical-align: middle;
        }
        
        .button-link:hover {
            background-color: #3b5c89;
        }
        
        .navbar-button {
            margin-left: auto;
        }
    </style>
<center>
        <div class="navbar-button">

            <a href="{{ url_for('d_n') }}" class="btn button-link " style="background-color: red;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
              </svg>Delete All Notification</a>
            </center>
</div>
    <section>
        <div class="table-container">
            <h2>Unread Notifications</h2>
            <table>
                <tr>
                    <th><span class="notification-icon"></span></th>
                    <th><span class="notification-icon"></span>Messege</th>
                    <th><span class="notification-icon"></span>View</th>
                </tr>
                {% for ur in ern%}
                <tr class="unread">
                    <td><img src="https://raw.githubusercontent.com/Cat9199/Cat9199.github.io/main/bell.png" alt=""></td>
                    <td>
                        {% if ur.mes == "Late attendance" %} Employee recorded late attendance {% endif %} {% if ur.mes == "Early departure from work" %} An employee recorded an early departure {% endif %}
                    </td>
                    <td>
                        <center>
                            <a href="{{ url_for('reedn',id=ur.id) }}" class="button-link">
                                <img src="https://raw.githubusercontent.com/Cat9199/Cat9199.github.io/main/eye.png" alt="View Detail Icon"> View Detail
                            </a>
                        </center>
                    </td>
                </tr>
                {% endfor %}
                <!-- Add more rows as needed -->
            </table>
        </div>

        <div class="table-container">
            <h2>Read Notifications</h2>
            <table>
                <tr>
                    <th><span class="notification-icon"></span></th>
                    <th><span class="notification-icon"></span>messege</th>
                    <th><span class="notification-icon"></span>View</th>
                </tr>
                {% for x in rn%}
                <tr class="read">
                    <td><img src="https://raw.githubusercontent.com/Cat9199/Cat9199.github.io/main/bell.png" alt=""></td>
                    <td>
                        {% if x.mes == "Late attendance" %} Employee recorded late attendance {% endif %} {% if x.mes == "Early departure from work" %} An employee recorded an early departure {% endif %}
                    </td>
                    <td>
                        <center>
                            <a href="{{ url_for('reedn',id=x.st_id) }}" class="button-link">
                                <img src="https://raw.githubusercontent.com/Cat9199/Cat9199.github.io/main/eye.png" alt="View Detail Icon"> View Detail
                            </a>
                        </center>
                    </td>
                </tr>{% endfor %}
                <!-- Add more rows as needed -->
            </table>
        </div>
    </section>
{% endblock %}