{% extends 'admin/base.html' %} {% block content %}

<div class="row">

    <div class="col-12">

        <div class="box">

            <div class="box-body">

                <div class="text-center">

                    <h1>500</h1>

                    <h3 class="text-uppercase">Internal Server Error !</h3>

                    <p class="text-muted">The server encountered an internal error and was unable to complete your
                        request.</p>

                    <a href="/admin/dashboard" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}