{% extends 'admin/base.html' %}

{% block content %}
<div class="row">
      <div class="col-9 col-xl-12">
            <div class="box">
                  <center>
                        <h2>This Month Records</h2>
                  </center><br>
                  <div class="box-body">
                        <div class="table-responsive">
                              <table class="table table-vcenter text-nowrap table-bordered">
                                    <thead>
                                          <tr class="top">
                                                <th class="border-bottom-0 text-center">ID</th>
                                                <th class="border-bottom-0">Date</th>
                                                <th class="border-bottom-0">Priority</th>
                                                <th class="border-bottom-0">Date In</th>
                                                <th class="border-bottom-0">Date Out</th>

                                                <th class="border-bottom-0">View</th>
                                                <th class="border-bottom-0">Working H</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          <!-- Example row, you can loop through tasks or records here -->
                                          {% for record in thisMonthRecords %}
                                          <tr>
                                                <td class="text-center">{{ record.id }}</td>
                                                <td>{{ record.date }}</td>
                                                <td><span class="badge badge-success">Attend</span></td>
                                                <td>{{ record.time_in.strftime('%H:%M:%S') }}</td>
                                                <td>{{ record.time_out.strftime('%H:%M:%S') }}</td>

                                                <td><a href="/admin/view_record/{{record.id}}"
                                                            class="badge badge-warning">View</a></td>
                                                <td>
                                                      {% if record.time_in and record.time_out %}
                                                      {% set date_str = record.date.strftime('%Y-%m-%d') %}
                                                      {% set datetime_in = date_str + ' ' +
                                                      record.time_in.strftime('%H:%M:%S') %}
                                                      {% set datetime_out = date_str + ' ' +
                                                      record.time_out.strftime('%H:%M:%S') %}
                                                      {% set working_time_seconds = (datetime.strptime(datetime_out,
                                                      '%Y-%m-%d %H:%M:%S') - datetime.strptime(datetime_in, '%Y-%m-%d
                                                      %H:%M:%S')).total_seconds() %}
                                                      {% set working_hours = working_time_seconds // 3600 %}
                                                      {% set working_minutes = (working_time_seconds % 3600) // 60 %}
                                                      {{ working_hours }}h {{ working_minutes }}m
                                                      {% else %}
                                                      N/A
                                                      {% endif %}
                                                </td>
                                          </tr>
                                          {% endfor %}


                                    </tbody>
                              </table>
                        </div>
                  </div>
            </div>
      </div>
      <div class="col-3 col-xl-12">
            <div class="box user-pro-list overflow-hidden mb-30">
                  <div class="box-body">
                        <div class="user-pic text-center">
                              <div class="avatar">
                                    <img src="https://avatar.iran.liara.run/username?username={{employee.name}}"
                                          width="110px" alt="">
                                    <div class="pulse-css"></div>
                              </div>
                              <div class="pro-user mt-40">
                                    <h5 class="pro-user-username text-dark mb-1 fs-15">{{ employee.name }}</h5>
                                    <h6 class="pro-user-desc text-muted fs-14">{{ employee.email }}</h6>
                                    <div class="star-ratings start-ratings-main mb-10 clearfix">
                                          <div class="stars stars-example-fontawesome star-sm">
                                                <div class="br-wrapper br-theme-fontawesome-stars">
                                                      <select id="example-fontawesome" name="rating"
                                                            style="display: none;">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4" selected="">4</option>
                                                            <option value="5">5</option>
                                                      </select>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="box-body pt-19">
                        <div class="row">
                              <div class="col-6 text-center mb-0 pd-0">
                                    <div class="icon-box">
                                          <i class='bx bxs-briefcase'></i>
                                    </div>
                                    <h5 class="fs-14 font-w400 mb-0">Total Attendance</h5>
                                    <h5 class="mb-2"><span class="fs-14 font-w600 ">{{ totalAttendance }}</span></h5>
                              </div>
                              <div class="col-6  text-center mb-0 pd-0">
                                    <div class="icon-box">
                                          <i class='bx bxs-shopping-bags'></i>
                                    </div>
                                    <h5 class="fs-14 font-w400 mb-0">Working Hours</h5>
                                    <h5 class="mb-2"><span class="fs-14 font-w600">{{ workingHours }}</span></h5>
                              </div>
                              
                        </div>
                  </div>
                  <div class="box-footer pt-38">
                        <div class="btn-list text-center">
                              <a href="mailto:{{ employee.email }}" class="btn btn-light"><i class='bx bxs-envelope'></i></a>
                              <a href="tel:{{ employee.phone }}" class="btn btn-light"><i class='bx bxs-phone-call'></i></a>
                              <a href="#" class="btn btn-light"><i class='bx bxs-error-circle'></i></a>
                              <a href="/admin/e/employees/{{employee.id}}" class="btn btn-light"><i class='bx bxs-message-alt-edit'></i></a>
                        </div>
                  </div>
            </div>
            <div class="box left-dot pt-39 mb-30">
                  <div class="box-header  border-0">
                        <div class="box-title fs-20 font-w600">Basic Info</div>
                  </div>
                  <div class="box-body pt-16 user-profile">
                        <div class="table-responsive">
                              <table class="table mb-0 mw-100 color-span">
                                    <tbody>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Employee ID</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.id }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Name</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.name }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Workplace</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.workplace }}</span>
                                                </td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Position</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.position }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Date of Birth</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.date_of_birth }}</span>
                                                </td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Gender</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.gender }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Marital Status</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.marital_status
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Nationality</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.nationality }}</span>
                                                </td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Address</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.address }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Mobile Phone</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.mobile_phone }}</span>
                                                </td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Home Phone</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.home_phone }}</span>
                                                </td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Email</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.email }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Current Job Title</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.current_job_title
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Start Date of Current
                                                            Job</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.start_date_current_job
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Duration of Current Job</span>
                                                </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.duration_current_job
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Previous Job Titles</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.previous_job_titles
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Previous Companies</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.previous_companies
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Duration of Previous Job</span>
                                                </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.duration_previous_job
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Autocad Proficiency</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.autocad_proficiency
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Civil 3D Proficiency</span>
                                                </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.civil_3d_proficiency
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Total Station
                                                            Proficiency</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{
                                                            employee.total_station_proficiency }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">GPS Proficiency</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.gps_proficiency
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">3D Scanner Proficiency</span>
                                                </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee._3d_scanner_proficiency
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Data Transfer Software
                                                            Proficiency</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{
                                                            employee.data_transfer_software_proficiency }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Languages</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.languages }}</span>
                                                </td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Technical Skills</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.technical_skills
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Personal Skills</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.personal_skills
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Highest Education Degree</span>
                                                </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{
                                                            employee.highest_education_degree }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Field of Study</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.field_of_study
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Educational Institution</span>
                                                </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.educational_institution
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Graduation Year</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.graduation_year
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Additional Info</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.additional_info
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Personal Bank Account
                                                            Number</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{
                                                            employee.personal_bank_account_number }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Bank Name</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.bank_name }}</span>
                                                </td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Personal Wallet Number</span>
                                                </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.personal_wallet_number
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Tax Number</span></td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.tax_number }}</span>
                                                </td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Social Security Number</span>
                                                </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.social_security_number
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Emergency Contact Name</span>
                                                </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.emergency_contact_name
                                                            }}</span></td>
                                          </tr>
                                          <tr>
                                                <td class="py-2 px-0"><span class="w-50">Emergency Contact Phone</span>
                                                </td>
                                                <td>:</td>
                                                <td class="py-2 px-0"><span class="">{{ employee.emergency_contact_phone
                                                            }}</span></td>
                                          </tr>
                                    </tbody>
                              </table>
                        </div>
                  </div>
            </div>
      </div>
</div>
{% endblock %}